
<div class="container">
  <div class="card mx-auto w-50">
    <div class="card-body">
      <h5 class="card-title">Edit Contact</h5>
      <div class="form-group">
        <label><p>First Name:</p></label>
        <input type="text" class="form-control" #firstName value="{{contact.firstName}}"/>
        <label><p>Last Name:</p></label>
        <input type="text" class="form-control" #lastName value="{{contact.lastName}}"/>
        <label><p>Phone Number:</p></label>
        <input type="text" class="form-control" #phoneNumber value="{{contact.phoneNumber}}"/>
        <label><p>Email:</p></label>
        <input type="text" class="form-control" #email value="{{contact.email}}"/>
        <div>
            <button class="btn btn-primary me-2 mt-2" (click)="editContact(contact.id,firstName.value, lastName.value, phoneNumber.value, email.value)" [routerLink]="['']">Save Changes</button>
            <button class="btn btn-secondary mt-2" [routerLink]="['']">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
